.btn {
    padding: 10px 12px;
    font-weight: 300;
    background-color: #181818;;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 1.2em;
}

.btn-primary {
    background-color: #0a5d14;
}

.btn button:hover {
    background-color: #0e701a;
    border: none;
    outline: none;
}